<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.binge.sx2.mapper.ProductTypeMapper">

    <!--插入数据-->
    <insert id="saveType" keyProperty="id" useGeneratedKeys="true" parameterType="com.binge.sx2.beans.ProductType" >
        insert into producttotype (typename) values (#{typename})
    </insert>

</mapper>